body {
  font-family: "Source Sans Pro", "HelveticaNeue", sans-serif !important;
}
#wrapper {
  margin-top: 100px;
}
.enumeration {
  font-size: 3em;
  position: relative;
  left: -4.5em;
  text-align: right;
  width: 3em;
  cursor: pointer;
}
#more {
  margin: 1.5em;
  border-top: 1px dashed #000;
}
#arrow {
  position: relative;
  left: 50%;
  font-size: 24px;
  border: 1px solid #808080;
  border-radius: 100%;
  background-color: #808080;
  color: #fff;
  cursor: pointer;
}
.track {
  height: 100px;
  margin-bottom: 100px;
}
.track .title {
  height: 33px;
  font-family: "Source Sans Pro", "HelveticaNeue", sans-serif;
  font-size: 24px;
  line-height: 1.5em;
  max-width: 80%;
  overflow: hidden;
}
.track .title:hover {
  color: #ffa500;
  cursor: pointer;
}
.track .waveform {
  position: relative;
  height: 100px;
  min-width: 15%;
  margin-left: 100px;
}
.track .waveform canvas {
  width: inherit;
  height: inherit;
}
.track .avatar {
  position: relative;
  width: 100px;
  height: 100px;
  top: -100px;
}
.track .avatar img {
  width: inherit;
  height: inherit;
  max-width: 100%;
}
#playlist-controls {
  padding-bottom: 6em;
  display: none;
}
#palylist li {
  font-size: 24px;
}
.play-button,
.prev-button,
.next-button {
  cursor: pointer;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: #808080;
  color: #fff;
  float: left;
}

