html {
  height: 100%;
}
body {
  font-family: "Source Sans Pro", "HelveticaNeue", sans-serif !important;
  color: #000;
  background-color: #fff;
  height: 100%;
}
a,
a:hover {
  color: #312783;
}
a:visited {
  color: #333;
}
p {
  font-size: 20px;
  line-height: 1.5em;
  color: inherit;
}
p + p {
  margin-top: 1.5em;
}
.footer {
  height: 100px;
  color: #fff;
  background-color: #333;
  font-size: 12px;
  position: relative;
  margin-top: -100px;
  clear: both;
}
.footer p {
  margin-top: 1.5em;
  font-size: 12px;
}
.footer a {
  color: #aaa;
}
.footer a:visited {
  color: #aaa;
}
.wrapper {
  margin-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  min-height: 100%;
}
#more {
  margin: 1.5em;
  border-top: 1px dashed #000;
}
#arrow {
  position: relative;
  left: 50%;
  font-size: 48px;
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: #808080;
  color: #fff;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: -15px;
  text-align: center;
}
.track {
  height: 100px;
  padding-bottom: 100px;
}
.track .title {
  overflow: hidden;
  height: 33px;
  font-family: "Source Sans Pro", "HelveticaNeue", sans-serif;
  font-size: 24px;
  line-height: 1.5em;
}
.track .fav {
  font-size: 12px;
}
.track .title:hover {
  color: #312783;
  cursor: pointer;
}
.track .waveform {
  position: relative;
  height: 100px;
  min-width: 15%;
  margin-left: 100px;
}
.track .waveform canvas {
  width: inherit;
  height: inherit;
}
.track .avatar {
  position: relative;
  width: 100px;
  height: 100px;
  top: -100px;
}
.track .avatar img {
  width: inherit;
  height: inherit;
  max-width: 100%;
}
#playing-indicator {
  width: 30px;
  height: 30px;
  position: relative;
  left: -1.5em;
}
#playlist-controls {
  display: none;
}
#playlist li {
  font-size: 24px;
}
#current-track {
  font-size: 12px;
  margin-left: 1.5em;
}
.play-button,
.prev-button,
.next-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #312783;
  border-radius: 100%;
}

