<script type="text/javascript" src="js/create.js"></script>

<div class="page-header">
	<h1>{{ title }}</h1>
</div>

<p>
	Put every track in a Soundcloud set and listen elsewhere! Rain creates <strong>{{ num_tracks.split }}</strong> containing <strong>{{ num_tracks.size }}</strong>.
</p>
<button data-role="submit" class="btn btn-primary" value="Create">Create</button>

<br/>
<img src="img/spinner.gif" id="spinner" style="display:none;"/>
<div id="response" class="alert alert-info" style="display:none;">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Please wait!</strong>
	<p>
		Doing some work here...
	</p>
</div>
