<div id="header" class="container">
	<div class="span6 hero-unit">
		<img src="img/logo-full.png" />
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<div class="page-header">
			<h1>Are you looking for music?</h1>
		</div>
		<p>
			Chances are you have a similiar taste of music as your followings on Soundcloud. That's why we take their <strong><a href="playlist">favorite tracks</a></strong> and present them to you.
		</p>
		<p>
			In case you don't like our service (you should drop us an email but) you're able to create <strong><a href="create">Soundcloud sets</a></strong> and listen there. We're fine with that.
		</p>
		<p>
			By the way: We've also created a simple <strong><a href="overview">infographic</a></strong> for you in order to make discovering new artists easier.
		</p>
	</div>
</div>	

<div class="row-fluid">
	<div class="span6">
		<div class="page-header">
			<h1>Still interested?</h1>
		</div>
		<p>
			No need to sign up! If you have an account at <a href="http://soundcloud.com">Soundcloud</a> you can <a href="login">start</a> right away. Otherwise you will have to create one and find some people to follow, of course.
		</p>
		
	</div>
</div>