<div id="header" class="container hero-unit">
	<div class="span8">
		<h1>{{title}}</h1>
		<p>{{slogan}}</p>
		<p>
			<a href="#what" class="btn btn-primary btn-large">What does it do?</a>
			<a href="#need" class="btn btn-primary btn-large">What do I need?</a>
			<a href="#use" class="btn btn-primary btn-large">How do I use it?</a>
			<a href="#work" class="btn btn-primary btn-large">How does it work?</a>
		</p>
	</div>
	<div class="span2">
		<img src="img/logo.png"/>
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
	</div>
	<div class="span8">
		<div class="page-header">
			<h1 name="what">WAT?</h1>
		</div>
		<div class="container">
			<p class="lead">
				Let me show you a picture.
			</p>
			<img src="img/explanation.png" />
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
	</div>
	<div class="span8">
		<div class="page-header">
			<h1 name="need">Requirements</h1>
		</div>
		<div class="container">
			<p class="lead">
				No need to sign up! If you have an account at <a href="http://soundcloud.com">Soundcloud</a> you can <a href="login">connect</a> right away. If you don't have an account you will have to create one. And find some people to follow, of course.
			</p>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
	</div>
	<div class="span8">
		<div class="page-header">
			<h1 name="use">Usage</h1>
		</div>
		<div class="container">
			<p class="lead">
				It's simple! Just <a href="login">connect</a> with Soundcloud and a personalized playlist is generated for you. This playlist is made out of the favorite tracks of the people you follow on Soundcloud. Please excuse that this process takes some time (but only the first time).
			</p>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span2">
	</div>
	<div class="span8">
		<div class="page-header">
			<h1 name="work">Work</h1>
		</div>

	</div>
</div>