<div id="header" class="container hero-unit">
	<div class="span8">
		<img src="img/logo-full.png" />
	</div>
</div>

<div class="row-fluid">
	<div class="span6">
		<div class="page-header">
			<h1 name="use">What it does</h1>
		</div>
		<div class="container">
			<p class="lead">
				Favsquare builds a personalized playlist out the favourite tracks of the people you follow on Soundcloud.
			</p>
			<p> "Why don't you just generate a playlist on Soundcloud?", you may ask. A totally valid point. And of course you can have that too! Just keep in mind that there is no way of ordering the playlist then.</p>
		</div>
	</div>
</div>	

<div class="row-fluid">
	<div class="span6">
		<div class="page-header">
			<h1 name="need">Getting started</h1>
		</div>
		<div class="container">
			<p class="lead">
				No need to sign up! If you have an account at <a href="http://soundcloud.com">Soundcloud</a> you can <a href="login">connect</a> right away. If you don't have an account you will have to create one. And find some people to follow, of course.
			</p>
		</div>
	</div>
</div>