<!DOCTYPE HTML>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
		<link rel="stylesheet" href="css/font-awesome.css"/>
		<link rel="stylesheet" href="css/favsquare.css" />
		<link rel="icon" href="img/favicon.png" type="image/x-icon"/>

		<script style="text/javascript" src="js/jquery-1.8.2.min.js"></script>
		<script style="text/javascript" src="js/bootstrap.min.js"></script>
		<script style="text/javascript" src="js/favsquare.js"></script>

		<title>
			Rain
		</title>
	</head>

	<body>
		<!-- header -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand hidden-phone" href="/">Rain</a>
					<ul class="nav" id="playlist-controls" style="display:{{visibility}};">
						<li class="divider-vertical"></li>
						<li>
							<a class="button prev-button" title="Previous Track">
								<i class="icon-step-backward icon-large"></i>
							</a>
						</li>
						<li>
							<a class="button play-button" title="Toggle Play/Pause">
								<i class="icon-play icon-large"></i>
							</a>
						</li>
						<li>
							<a class="button next-button" title="Next Track">
								<i class="icon-step-forward icon-large"></i>
							</a>
						</li>
						<li class="divider-vertical"></li>
						<li id="current-container"><small class="hidden-phone"> <a id="current-track"></a> </small></li>
					</ul>
					<ul class="nav pull-right">
						<li><a href="{{login_url}}" title="{{login_message}}"><i class="icon-{{login_icon}} icon-large"></i></a></li>
					</ul>
					<ul class="nav pull-right" style="display:{{visibility}};">
						<li><a href="/playlist" title="Listen"><i class="icon-music icon-large"></i></a></li>
						<li><a href="/create" title="Create"><i class="icon-upload-alt icon-large"></i></a></li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="container wrapper clear-top">
			<div class="row">
				<div class="span8 offset2">
					{{{ yield }}}
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<p class="pull-right">
					<small class="muted">by <a href="http://npiccolotto.com" target="_blank">Nikolaus Piccolotto</a> / <a href="https://twitter.com/prayerslayer" target="_blank">@prayerslayer</a></small>
				</p>
			</div>
		</div>
	</body>
</html>