<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="css/favsquare.css" />
		
		<script style="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script style="text/javascript" src="js/favsquare.js"></script>

		<title>
			Fav^2
		</title>
	</head>

	<body>
		<header>
			<a href="login">{{login_message}}</a> {{hello_message}} <a href="logout">{{logout_message}}</a>
		</header>

		<div id="main">
			<h1>{{title}}</h1>
			
			{{{ yield }}}
		</div>
	</body>
</html>