<!DOCTYPE HTML>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
		<link rel="stylesheet" href="css/favsquare.css" />
		<link rel="icon" href="img/favicon.png" type="image/x-icon"/>

		<script style="text/javascript" src="//code.jquery.com/jquery.min.js"></script>
		<script style="text/javascript" src="js/bootstrap.min.js"></script>
		<script style="text/javascript" src="js/favsquare.js"></script>

		<title>
			Rain
		</title>
	</head>

	<body>
		<!-- header -->
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Rain</a>
					<ul class="nav" id="playlist-controls" style="display:{{visibility}};">
						<li class="divider-vertical"></li>
						<li> <a id="current-track"></a> </li>
						<li class="divider-vertical"></li>
						<li><img class="prev-button" src="img/previous.png" /></li>
						<li><img class="play-button" src="img/play.png" /></li>
						<li><img class="next-button" src="img/next.png" /></li>
					</ul>
					<ul class="nav pull-right">
						<li><a href="{{login_url}}">{{login_message}}</a></li>
					</ul>
					<ul class="nav pull-right" style="display:{{visibility}};">
						<li><a href="/playlist">{{playlist_message}}</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Gimmicks <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/overview">{{ overview_message }}</a></li>
								<li><a href="/create">{{ create_message }}</a></li>
							</ul>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<div class="container wrapper clear-top">
			{{{ yield }}}
		</div>
		<div class="footer">
			<div class="container">
				<p>
					Designed and implemented by <a href="http://nikolaus-piccolotto.info">Nikolaus Piccolotto</a>. My Twitter username is <a href="https://twitter.com/prayerslayer">@prayerslayer</a>.
				</p>
			</div>
		</div>
	</body>
</html>