<script type="text/javascript" src="js/d3.v2.min.js"></script>
<script type="text/javascript" src="js/overview.js"></script>

<div class="container">
	<div id="spinner">
		Ich bin ein Spinner und drehe mich übelst.
	</div>
	<div id="graph">
	</div>
</div>