<script type="text/javascript" src="js/d3.v2.min.js"></script>
<script type="text/javascript" src="js/overview.js"></script>

<div class="row-fluid">
	<div class="span6">
		<div class="page-header">
			<h1>Who are you missing?</h1>
		</div>
		<div id="spinner">
			<p>
				Please wait a minute or two. We are looking for artists you might have missed (those who got a lot of love from your followings).
			</p>
			<img src="img/spinner.gif" alt="Übelster Spinner hier" />
		</div>
		<div id="message" style="display:none;">
			<p>
				Each circle represents an artist. The bigger the circle, the more favorites she received from your followings. You can click on them to view their profile on Soundcloud.
			</p>
		</div>
		<div id="graph">
		</div>
	</div>
</div>