<script src="//connect.soundcloud.com/sdk.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/Track.js"></script>

<script type="text/template" id="track_template">
	<li id="track-<%= id %>" class="track">
		<a href="<%= user.permalink_url || localhost %>">
			<h3><%= user.username || horst %> - <%= title %></h3>
		</a>
	    <div class="play_button" data-role="play_track">Play me</div>
    </li>
</script>

<script type="text/javascript" src="js/TrackView.js"></script>
<script type="text/javascript" src="js/BBPlaylist.js"></script>
<script type="text/javascript" src="js/PlaylistView.js"></script>
<script type="text/javascript" src="js/streaming.js"></script>


<div class="page-header">
	<h1>Your playlist</h1>
</div>

<ol id="playlist">
</ol>
<div id="more">
	<span id="arrow">
		↓
	</span>
</div>
