<script type="text/javascript" src="js/sc-api.js"></script>
<script type="text/javascript" src="js/jquery.favsquareplaylist.js"></script>
<script type="text/javascript">
	$( document ).ready( function() {
		$("#playlist").favsquareplaylist();
	});
</script>
<div id="playlist">
</div>