<script type="text/javascript" src="js/update.js"></script>

<div class="row-fluid">
	<div class="span6">
		<div class="page-header">
			<h1>{{ title }}</h1>
		</div>
		<p>
			Please wait while we fetch some information from <a href="https://soundcloud.com" target="_blank">Soundcloud</a>. This may take a few minutes, go grab a coffe or something. You'll notice when we're ready.
		</p>
		<p>
			Checking if ready in <span id="countdown">30 seconds</span>...
			{{#finished}}
				<br/><br/>
				Oh look, we're ready! Check out <a href="playlist">your playlist</a>!
			{{/finished}}
		</p>
	</div>
</div>