<script type="text/javascript" src="js/update.js"></script>

<div class="page-header">
	<h1>{{ title }}</h1>
</div>
<p>
	Please wait while Rain fetches users you're following and their favorites from <a href="https://soundcloud.com" target="_blank">Soundcloud</a>. This may take a while.
</p>
<div style="display:none;" id="response" class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Thanks!</strong>
	<p>
		Rain deletes your email address after sending.
	</p>
</div>
<div id="add-email">
 	<legend>Email notification</legend>
 	<p>
 		Shall Rain send you an email when the process finished? Rain doesn't store your email address.
 	</p>
 	<div class="input-append">
		<input type="text" id="email" placeholder="girl@awesome.com" class="input-large">
		<button data-role="submit-email" type="button" class="btn btn-primary" disabled="disabled">Submit</button>
	</div>
	<img src="img/spinner.gif" id="spinner" style="display:none;"/>
</div>